PepBenchData/
PepBenchData_raw/
uploader.ipynb
.pytest_cache/
.conda/
.vscode/
docs/
notebook/model/results/
src/pepbenchmark.egg-info/
notebook/pipeline/unref_final_with_short.csv
notebook/pipeline/dppiv_inhibitors/
__pycache__